/* --------------------------------LOGO------------------------------------- */

header .logo {
  text-align: right;
  margin-bottom: 0.5rem;
}

/* --------------------------------TEKST------------------------------------- */

.section_event h1 {
  color: var(--red);
}

/* --------------------------------BILLEDER------------------------------------- */

  img {
    max-height: 1100px;
    width: auto;
  }

  img:hover {
  filter: grayscale(100%);
    }
 
  img {
    width: 100%;
    cursor: pointer;
    }

    /* HVORDAN BEHOLDER MAN TEKST, NÅR MAN BRUGER HOVER? */


    /* --------------------------------BITEMECREW------------------------------------- */

.bitemecrew {
  display: grid;
  place-items: center;
}    

.bitemecrew_h1 {
  color: var(--red);
}

.bitemecrew > * {
  grid-area: 1/1;
}

    /* --------------------------------OPPOSITE KITCHEN------------------------------------- */

.oppositekitchen {
  display: grid;
  place-items: center;
}    

.oppositekitchen_h1 {
  color: var(--yellow);
  place-content: center;
}

.oppositekitchen > * {
  grid-area: 1/1;
}

