/* --------------------------------LOGO------------------------------------- */

header .logo {
  text-align: right;
  margin-bottom: 0.5rem;
}

/* --------------------------------TEKST------------------------------------- */

h1 {
  color: var(--red);
}

/* --------------------------------BILLEDER------------------------------------- */

img {
  max-height: 1100px;
  width: auto;
}

img:hover {
  filter: grayscale(100%);
}

img {
  width: 100%;
  cursor: pointer;
}

/* HVORDAN BEHOLDER MAN TEKST, NÅR MAN BRUGER HOVER? */

/* --------------------------------BITEMECREW------------------------------------- */

.bitemecrew {
  display: grid;
  place-items: center;
  margin-left: 15vw;
  margin-right: 15vw;
}

.bitemecrew_h1 {
  color: var(--red);
}

.bitemecrew > * {
  grid-area: 1/1;
}

/* --------------------------------OPPOSITE KITCHEN------------------------------------- */

.oppositekitchen {
  display: grid;
  place-items: center;
  margin-left: 15vw;
  margin-right: 15vw;
}

.oppositekitchen_h1 {
  color: var(--yellow);
}

.oppositekitchen > * {
  grid-area: 1/1;
}

/* --------------------------------VIDEO------------------------------------- */

#video_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 8vw;
}

video {
  grid-column: 1 / span 4;
  width: 100%;
  height: auto;
  box-shadow: 24px 24px 0px 0px var(--red);
}
