#fotografen_section {
  display: grid;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#fotografen_section h1 {
  color: var(--pink);
}

.container {
  width: 60%;
  margin: 2rem auto;
}

/* Grid i gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}
/* Styler billederne  */

.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.image2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 25;
  grid-row-end: 19;
}

.image3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.image4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 4;
}

.image5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 9;
}

.image6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.image7 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 17;
  grid-row-end: 17;
}

.image8 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 10;
  grid-row-end: 9;
}
.image9 {
  grid-column-start: 1;
  grid-column-end: -5;
  grid-row-start: 9;
  grid-row-end: 16;
}

.image10 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 16;
  grid-row-end: 10;
}
.image11 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 17;
  grid-row-end: 17;
}
.image12 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 25;
  grid-row-end: 19;
}

.image13 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 4;
}
.image14 {
  grid-column-start: 5;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 9;
}

img:hover {
  filter: grayscale(100%);
}
