/* --------------------------------HERO-VIDEO------------------------------------- */
#videoBG {
  display: grid;
  grid-column: 1/4;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  z-index: -1;
  padding-bottom: 3vw;
}
/* 16/9 format Responsiv video */

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: 100vh;
    height: auto;
  }
}

/* --------------------------------CALL TO ACTIONS KNAPPER------------------------------------- */
/* hvorfor virker den ikke ved hover?  */

button {
  border: 0.2vw solid var(--black);
  background-color: transparent;
  background-repeat: no-repeat;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 1vw 4vw;
  font-size: 1vw;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
  margin-left: 14vw;
  text-align: center;
}

button:hover {
  background-color: var(--black);
  color: var(--white);
}
/* --------------------------------SECTIONS------------------------------------- */
/* First section */
#first_section p {
  font-size: clamp(1rem, 0.0909rem + 4.5455vw, 3rem);

  text-align: center;
  font-weight: 200;
}

/* Second section */
#second_section .section_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5vw;
}

#second_section img:hover {
  filter: grayscale(100%);
}
/* Image second section  */
.image1 {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/4;
}
.image1 img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.image2 {
  display: grid;
  grid-column: 2/4;
  grid-row: 2/4;
}

.image2 img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.image3 {
  display: grid;
  grid-column: 3/4;
  grid-row: 2/2;
  padding: 3px;
}

.image3 img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.bottom {
  padding-bottom: 10vw;
  display: grid;
  grid-column: 1/3;
  grid-row: 2/3;
}
.bottom img {
  width: 100%;
  height: 100%;
}

/* h1 i second section ovenpå billeder */
.image1 h1 {
  color: var(--lightblue);
  font-size: 3.5rem;
  display: flex;
  align-items: center;
}

.image2 h1 {
  display: flex;
  align-items: stretch;
  color: var(--pink);
  font-size: 3.5rem;
}

.image3 h1 {
  color: var(--red);
  font-size: 3.5rem;
}

.image4 h1 {
  color: var(--yellow);
  font-size: 3.5rem;
}

/* Third section // KONTAKT KNAP */
.button_ned {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 40vw;
  margin-bottom: 3vw;
}

/* Mediaquerys  */
/* Mobile  */
