/* --------------------------------BURGER MENU------------------------------------- */
/* Styling af navigation */
/* Bredde-højde-position mm */
/* /* Transitions gør at at den bevæger sig ud mere smooth, end hvis de ikke var på den */
.nav {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  height: 90vh;
  left: -20rem;
  padding: 10rem 10rem 10rem 10rem;
  position: fixed;
  top: 0;
  width: 20rem;
  z-index: 2;
}

/* Nav udvides  */

.nav.expanded {
  left: 0;
}

/* Styling af ul i navigationen  */

.nav ul {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  margin-left: -4vw;
}

.nav a {
  text-decoration: none;
  color: var(--white);
}

/* Styling af hamburger menu, når den åbner og lukker */
.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 2rem;
  left: 2rem;
  position: fixed;
  top: 2rem;
  width: 3.6rem;
  z-index: 3;
}

/* Navigationens 1 streg i burger menuen */

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: var(--black);
  content: "";
  height: 0.4rem;
  width: 100%;
}

.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}

/* 2 streger i burger menuen - placering  */

.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
}

/* 3 streg placering  */
.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
}

/* Stjålet, men det virkede  */

.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}

/* Krydset inde i navigationen  */

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
  background: var(--white);
  margin-top: 0;
}

/* Når der trykkes på burger menuen, roterer den til et kryds (før og efter)  */

.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* --------------------------------LOGO------------------------------------- */

header .logo {
  text-align: right;
  margin-bottom: 0.5rem;
  position: sticky;
}

/* --------------------------------HERO-VIDEO------------------------------------- */
#videoBG {
  display: grid;
  grid-column: 1/4;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  z-index: -1;
  padding-bottom: 3vw;
}

/* Responsiv hero video */

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

/* --------------------------------CALL TO ACTIONS KNAPPER------------------------------------- */
/* hvorfor virker den ikke ved hover?  */

button {
  border: 0.2vw solid var(--black);
  background-color: transparent;
  background-repeat: no-repeat;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 1vw 4vw;
  font-size: 1vw;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
  margin-left: 14vw;
  text-align: center;
}

button:hover {
  background-color: var(--black);
  color: var(--white);
}

/* --------------------------------Billeder i bunden------------------------------------- */

@media (min-width: 300px) {
  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 5vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  #second_section .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #second_section img {
    width: 100%;
  }

  .tekst_cow {
    display: block;
    grid-template-columns: 1fr;
    color: var(--lightblue);
  }

  .tekst_foto {
    color: var(--pink);
    grid-template-rows: 1fr;
  }

  .tekst_event {
    color: var(--red);
  }

  .tekst_gastro {
    color: var(--yellow);
    position: absolute;
    margin-top: -17vw;
    margin-left: 5vw;
  }
  .bottom {
    padding-bottom: 10vw;
  }

  .button_ned {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 40vw;
    margin-bottom: 3vw;
  }
}
/* --------------------------------FOOTER------------------------------------- */
/* MANGLER IKONER */

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--black);
  color: white;
  text-align: center;
  padding: 1vw;
}
