/*****FORM*****/

label,
input,
textarea,
select,
button {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 1.3vw;
}

form {
  display: grid;
  place-content: center;
  gap: 1rem;
}

form-felt {
  display: grid;
  gap: 0rem;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 2.2vw;
  font-weight: 700;
  display: grid;
  place-content: center;
  margin-bottom: 1vw;
  color: var(--darkblue);
}

/*****OVERSKRIFT*****/

#section_one h1 {
  color: var(--darkblue);
}

/*****COL STYLING*****/

.img_col img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 400px;
  box-shadow: 24px 24px 0px 0px var(--darkblue);
  margin-left: 18vw;
}

.form_col {
  border: 10px solid var(--darkblue);
  max-width: 400px;
  padding: 4%;
}

/*****GRID*****/

@media (min-width: 1000px) {
  #section_two .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}

#section_two {
  margin: 5rem auto;
}

/*
#section_two {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

#section_two .img_col {
  grid-column: 2/3;
}

#section_two .form_col {
  grid-column: 3/4;
}
*/
