label,
input,
textarea,
select,
button {
  display: block;
  font-family: "Oswald", sans-serif;
 }

form {
    display: grid;
    place-content: center;
    margin-top: 10vw;
    margin-bottom: 10vw;
    gap: 1rem;
  }
  
  .form-felt {
    display: grid;
    gap: 0rem;
  }