/*****FORM*****/

label,
input,
textarea,
select,
button {
  display: block;
  font-family: "Oswald", light;
  font-size: 1.3vw;
}

form {
  display: grid;
  place-content: center;
  gap: 1rem;
}

form-felt {
  display: grid;
  gap: 0rem;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 2.2vw;
  font-weight: 700;
  display: grid;
  place-content: center;
  margin-bottom: 1vw;
  color: var(--darkblue);
}

/*****OVERSKRIFT*****/

#section_one h1 {
  color: var(--darkblue);
}

/*****COL STYLING*****/

.img_col img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 400px;
}

.form_col {
  border: 5px solid var(--darkblue);
  max-width: 400px;
  padding: 4%;
  box-shadow: 24px 24px 0px 0px var(--darkblue);
}

/*****GRID*****/

@media (min-width: 1000px) {
  #section_two .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}

@media (min-width: 1300px) {
  .img_col img {
    margin-left: 12rem;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .img_col img {
    margin-left: 5rem;
  }
}

@media (max-width: 1000px) {
  .img_col img {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 1000px) {
  .form_col {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

#section_two {
  margin: 5rem auto;
}
