html {
  --black: #000000;
  --white: #ffffff;
  --darkblue: #2273aa;
  --lightblue: #a7c0d8;
  --yellow: #ffc700;
  --pink: #eb3d9c;
  --red: #e7392a;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
}

* {
  box-sizing: border-box;
  /*margin-left: 1.5rem;*/
  /* margin-right: 1.5rem; */
}

body {
  font-family: "Oswald", sans-serif;
  /* line-height: 1.5; */
}

h1 {
  font-family: "Bungee", cursive;
  font-size: clamp(2rem, 7vw, 8rem);
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-left: 7vw;
  margin-right: 22vw;
  margin-bottom: 10;
}

h4 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 2px;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-left: 7vw;
  margin-right: 22vw;
  margin-bottom: 10;
  line-height: 40px;
}

a {
  text-decoration: none;
}

.citat {
  margin-left: 20px;
  margin-right: 20px;
  margin-right: 200px;
}

/* --------------------------------MARGIN------------------------------------- */

/* --------------------------------MENU ------------------------------------- */
/* Styling af navigation */
* {
  margin: 0;
  padding: 0;
}

/* style af navigation */
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
}

nav img {
  width: 100px;
}

.nav_link {
  flex: 1;
  text-align: right;
}
.nav_link ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav_link ul li a {
  color: var(--black);
  text-decoration: none;
  font-size: 20px;
}

/* Streg under tekst i navigation ved hover  */

.nav_link ul li::after {
  content: "";
  width: 0%;
  height: 0.5vw;
  background: var(--black);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav_link ul li:hover::after {
  width: 100%;
}
/* IKONER VIL BLIVE FJERNET FRA STØRRE SKÆRME */
nav .fas {
  display: none;
}

/* RESPONSIV 
FOR AT FÅ IKONER IND, KAN MAN SÆTTE EN CDN TEKST IND FRA FONT AWESOME MED IKONER I STYLE SHEET HTML  */
@media (max-width: 700px) {
  .nav_link ul li {
    display: block;
  }

  .nav_link {
    position: fixed;
    background: var(--white);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav-link ul {
    padding: 30px;
  }
  nav .fas {
    display: block;
    color: var(--black);
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
}

/* --------------------------------FOOTER------------------------------------- */

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 10vw;
  padding-bottom: 3vw;
}

.footer img {
  padding-bottom: 1px;
  max-width: 2%;
  text-align: right;
}

/* --------------------------------HOVER PÅ IMG------------------------------------- */


