/*****KNAP STYLING*****/
.tak_knap {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  color: var(--black);
  border: 3px solid var(--black);
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
  padding: 12px 5vw;
}

.tak_knap:hover {
  border: 1px solid var(--darkblue);
  background-color: var(--darkblue);
  transition: 1s;
  color: var(--white);
}

/*****OVERSKRIFT*****/

#section_one h1 {
  color: var(--darkblue);
}
